name: test

on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  test-interpreter:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Download compiler
      uses: actions/download-artifact@v3
      with:
        name: cacom

    - name: Download VM
      uses: actions/download-artifact@v3
      with:
        name: caby

    - name: Run tests
      run: |
        cd tests
        ./run_tests.sh cacom caby
